[Desktop Entry]
Name=CLion
Comment=CLion IDE
Exec=/opt/CLion/bin/clion.sh %U
Terminal=false
Type=Application
Icon=/opt/CLion/bin/clion.png
Categories=Development;IDE;
